//== Cards ==//

.card {
  @include boxShadow(10px);
  display: block;
  width: 100%;
  padding: $spacing--md;
  position: relative;
  z-index: $layer--mid;
  border-radius: $borderRadius;
  background: $color--white;
  color: $color--base;
  border: 1px solid $color--base;
}

.card--btn {
  cursor: pointer;
  overflow: hidden;
  height: 20rem;
  transition: box-shadow $transitionDur $transitionEasing;
  animation: cardHoverOut $transitionDur $transitionEasing forwards;

  @media screen and (min-width: $breakpoint--xs) {
    height: 20vw;
    max-height: 200px;
  }

  &.is-active {
    animation: press $transitionDur $transitionEasing forwards;
  }

  &:hover,
  &:focus {
    @include boxShadow(30px);
    outline: none;
    animation: cardHoverIn $transitionDur $transitionEasing forwards;
  }

  &:focus {
    border: 1px solid $color--secondary;
  }
}

.card--fluid {
  height: auto; // when you just don't want to be limited by silly things like height

  @media screen and (max-width: $breakpoint--sm) { // no rounded corners on smallest screen sizes as it typically spans the width of the viewport
    border-radius: 0;
    border-right: 1px solid $color--white;
    border-left: 1px solid $color--white;
  }
}

.card--flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__svgIcon {
  height: 60%;
  fill: $color--primary;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover; // similar to background-size: cover;
}
