//== Cards ==//

.card {
  @include boxShadow(5px);
  display: block;
  position: relative;
  height: auto;
  width: 100%;
  padding: $spacing--md;
  z-index: $layer--mid;
  border-radius: $borderRadius;
  background: $color--white;
  color: $color--base;
  border: 1px solid $color--base;
}

.card--btn {
  cursor: pointer;
  overflow: hidden;
  height: 20rem;
  transition: box-shadow $transitionDur $transitionEasing;
  animation: cardHoverOut $transitionDur $transitionEasing forwards;

  @media screen and (min-width: $breakpoint--xs) {
    height: 20vw;
    max-height: 200px;
  }

  // is-inactive/is-active added based on JS behavior
  &.is-active,
  &:hover {
    animation: cardHoverIn $transitionDur $transitionEasing forwards;
    @include boxShadow(30px);
  }

  &:focus {
    outline: none;
  }
}

.card--fluid {
  height: auto; // when you just don't want to be limited by silly things like height

  @media screen and (max-width: $breakpoint--sm) { // no rounded corners on smallest screen sizes as it typically spans the width of the viewport
    border-radius: 0;
    border-right: 1px solid $color--white;
    border-left: 1px solid $color--white;
  }
}

.card--flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__svgIcon {
  height: 60%;
  fill: $color--primary;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover; // similar to background-size: cover;
}

.card__msg {
  @include size(100%);
  @include flexCenter();
  flex-direction: column;
  background: rgba($color--secondary, 0.9);
  color: $color--base;
  position: absolute;
  top: 0;
  left: 0;
  padding: $spacing--sm;
  transition: opacity $transitionDur $transitionEasing;

  &.is-hidden {
    animation: skillFlipOut $transitionDur $transitionEasing forwards;
  }

  &.is-visible {
    animation: skillFlipIn $transitionDur $transitionEasing forwards;
  }
}

.card__msgHeading {
  letter-spacing: 0.025em;
}

.card__msgText {
  text-align: center;
  line-height: 1.6;
}
