//== Cards ==//

.card {
  @include pseudoShadow();
  display: block;
  height: 14rem;
  padding: $spacing--md;
  border-radius: $borderRadius;
  background: $color--white;
  box-shadow: 0 0.3rem 5px -0.3rem rgba(#000, 0.5);
  cursor: pointer;
}

.card--flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card--border {
  border: 1px solid rgba($color--base, 0.33);
}

.card__svgIcon {
  height: 60%;
  fill: $color--primary;
}
