//== Cards ==//

.card {
  @include pseudoShadow();
  display: block;
  height: 18rem;
  width: 100%;
  padding: $spacing--md;
  border-radius: $borderRadius;
  background: $color--white;
  box-shadow: 0 0.3rem 5px -0.3rem rgba(#000, 0.5);
  cursor: pointer;
  overflow: hidden;
}

.card--btn {
  animation: bounceOutReturn $transitionDur $transitionEasing forwards;

  &:hover,
  &:focus {
    animation: bounceOut $transitionDur $transitionEasing forwards;
  }

  &.is-active {
    animation: press $transitionDur $transitionEasing forwards;
  }
}

.card--fluid {
  height: auto; // when you just don't want to be limited by silly things like height
}

.card--squared {
  border-radius: 0;
}

.card--flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card--border {
  border: 1px solid rgba($color--base, 0.2);
}

.card__svgIcon {
  height: 60%;
  fill: $color--primary;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover; // similar to background-size: cover;
}
