//== Footer ==//

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  height: 5rem;
  background: $color--base;
  color: $color--white;
  margin-top: $spacing--lg;
}

.footer__btn {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: $spacing--sm $spacing--md;
  cursor: pointer;
  border-bottom: 0 solid $color--secondary; // just need to make the transition work
  transition: background $transitionDur $transitionEasing,
              border-bottom $transitionDur $transitionEasing;

  &:hover {
    background: $color--baseLight;
    border-bottom: ($spacing--sm / 2) solid $color--secondary;
  }
}

.footer__svgIcon {
  width: 100%;
  height: 100%;

  &--github {
    max-height: 75%;
  }

  &--codepen {
    max-height: 85%;
  }

  &--twitter {
    max-height: 65%;
  }
}
