//== Hero styles ==//

.hero {
  margin-top: -$spacing--lg * 3; // hides top angle
  padding: ($spacing--lg * 3) $spacing--md;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media screen and (min-width: $breakpoint--sm) {
    padding: ($spacing--xl * 2) $spacing--md;
  }
}

.hero__taglineContainer {
  width: 100%;
}
