//== Hero styles ==//

.hero {
  margin-top: -$spacing--xl;

  @media screen and (min-width: $breakpoint--sm) {
    display: flex;
    align-items: center;
    text-align: center;
  }
}

.hero__tagline {
  text-shadow: 0 0.2rem 3px rgba($color--primaryDark, 0.5);
}

.hero__tagline.tagline--h2 {
  @media screen and (min-width: $breakpoint--sm) {
    display: flex;
    align-items: center;
    justify-content: center;

    &:before,
    &:after {
      content: '';
      margin: $spacing--sm;
      display: block;
      height: 1px;
      width: 100%;
      max-width: 60px;
      background: $color--white;
    }
  }
}
