//== Modal ==//

.modal {
  max-width: $breakpoint--sm;
  margin: 0 auto;
  background: $color--white;
  border-radius: $borderRadius;
  box-shadow: 0 $spacing--sm 10px rgba(darken($color--gray, 50%), 0.2);
  position: relative; // allows for absolute positioning within

  &.is-hidden {
    animation: fadeOutDown $transitionDur $transitionEasing forwards;
  }

  &.is-visible {
    animation: fadeInUp $transitionDur $transitionEasing forwards;
  }
}

.modal__overlay {
  position: fixed;
  z-index: $layer--top;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 6%;
  overflow: scroll; // prevents scrolling
  background: rgba(0, 0, 0, 0.75);
  transform: perspective(1000px) translateZ(30px); // used to address Safari defect with layering
  transition: visibility ($transitionDur / 2) $transitionEasing,
              opacity ($transitionDur / 2) $transitionEasing;

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
  }

  &.is-visible {
    visibility: visible;
    opacity: 1;
  }

  @media screen and (min-width: $breakpoint--sm) {
    padding: 8%;
  }
}

.modal__header {
  padding: $spacing--sm $spacing--xs;

  @media screen and (min-width: $breakpoint--sm) {
    padding: $spacing--md $spacing--sm;
  }
}

.modal__closeBtn {
  @include size(20px);
  position: absolute;
  top: $spacing--sm;
  right: $spacing--sm;
  z-index: $layer--top;
  cursor: pointer;
  animation: growIn $transitionDur $transitionEasing forwards;

  .icon--close {
    fill: $color--primary;
  }

  &:hover {
    animation: growOut $transitionDur $transitionEasing forwards;
  }
}

.modal__footer {
  padding: $spacing--sm;
  padding-top: $spacing--xs;
  margin-top: $spacing--md;
  border-top: 1px solid lighten($color--primary, 30%);
}

.modal__closeText {
  display: inline-block;
  font-size: 0.8rem;
  cursor: pointer;
  color: $color--primary;
  transition: color $transitionDur $transitionEasing;

  &:hover {
    color: $color--primaryDark;
  }
}
