//== Modal ==//

.modal {
  max-width: $breakpoint--md;
  margin: 0 auto;
  padding: $spacing--lg;
  background: $color--white;
  border-radius: $borderRadius;
  box-shadow: 0 $spacing--sm 10px rgba(darken($color--gray, 50%), 0.2);
  overflow-y: scroll;

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
  }

  &.is-visible {
    visibility: visible;
    opacity: 1;
  }
}

.modal__overlay {
  position: fixed;
  z-index: $layer--top;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: $spacing--xl;
  overflow: scroll; // prevents scrolling
  background: rgba(0, 0, 0, 0.75);
  transition: visibility $transitionDur $transitionEasing,
              opacity $transitionDur $transitionEasing;

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
  }

  &.is-displayed {
    visibility: visible;
    opacity: 1;
  }
}
