//== Modal ==//

.modal {
  max-width: $breakpoint--sm;
  margin: 0 auto;
  padding: $spacing--lg;
  background: $color--white;
  border-radius: $borderRadius;
  box-shadow: 0 $spacing--sm 10px rgba(darken($color--gray, 50%), 0.2);
  overflow-y: scroll;

  &.is-hidden {
    animation: fadeOutDown $transitionDur $transitionEasing forwards;
  }

  &.is-visible {
    animation: fadeInUp $transitionDur $transitionEasing forwards;
  }
}

.modal__overlay {
  position: fixed;
  z-index: $layer--top;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5%;
  overflow: scroll; // prevents scrolling
  background: rgba(0, 0, 0, 0.75);
  transition: visibility ($transitionDur * 2) $transitionEasing,
              opacity ($transitionDur * 2) $transitionEasing;

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
  }

  &.is-displayed {
    visibility: visible;
    opacity: 1;
  }
}

.modal__closeBtn {
  @include size(20px);
  float: right;
  position: relative;
  z-index: $layer--top;
  cursor: pointer;
  animation: growIn $transitionDur $transitionEasing forwards;

  .icon--close {
    fill: $color--primary;
  }

  &:hover {
    animation: growOut $transitionDur $transitionEasing forwards;
  }
}
