//== Navigation ==//

.nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  z-index: $layer--mid; // allows shadow to overlap section below
  padding: $spacing--sm $spacing--md;
  background: transparent;
}

.nav__menuBtn,
.nav__brand {
  color: $color--white;
  text-decoration: none;
}

.nav__brand {
  line-height: 0;
}

.nav__menuBtn {
  @include boxShadow(8px);
  padding: 0.75rem $spacing--sm;
  font-weight: 300;
  letter-spacing: 0.06rem;
  text-shadow: 0 0.1rem 10px $color--primaryDark;
  border: 2px solid $color--white;
  border-radius: $borderRadius;
  transition: background ($transitionDur * 1.5) $transitionEasing;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);

  &:hover,
  &:focus,
  &:active {
    background: rgba($color--primaryDark, 0.35);
  }
}

.nav__menu {
  @include boxShadow($spacing--xl);
  background: $color--white;
  position: absolute;
  padding: $spacing--md;
  border: 1px solid $color--base;
  width: auto;
  top: $spacing--sm;
  left: $spacing--sm;
  right: $spacing--sm;
  border-radius: $borderRadius;
  transform-origin: 100% 0%;
  transition: opacity ($transitionDur / 2) $transitionEasing,
              transform ($transitionDur * 4) $transitionEasing;

  @media screen and (min-width: $breakpoint--sm) {
    left: initial;
    width: 25%;
  }

  &.is-collapsed {
    opacity: 0;
    transform: scale(0);
  }

  &.is-expanded {
    animation: slideOut $transitionDur $transitionEasing;
  }
}

.nav__menuLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: $color--primary;
  cursor: pointer;
  padding: $spacing--sm;
  transition: color $transitionDur $transitionEasing;
  text-align: center;

  .icon { // NESTING!! OH NO!
    @include size(20px);
    margin: 0 ($spacing--sm / 2) 2px 0; // kind of hacky 2px adjustment to help with alignment issues
    fill: $color--primary;
    transition: fill $transitionDur $transitionEasing;
  }

  &:hover,
  &:focus {
    color: $color--primaryDark;

    .icon:not(.icon--close) {
      fill: $color--primaryDark;
    }
  }

  @media screen and (min-width: $breakpoint--sm) {
    text-align: left;
  }
}

.nav__closeBtn {
  @include size(25px);
  float: right;
  display: block;
  cursor: pointer;
  animation: growIn $transitionDur $transitionEasing forwards;

  .icon--close {
    fill: $color--secondary;
  }

  &:hover {
    animation: growOut $transitionDur $transitionEasing forwards;
  }
}
