//== Navigation ==//

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 $spacing--md;
  height: 3.75rem;
  background: $color--white;
  box-shadow: 0 0.6rem 0 rgba(#000, 0.1);

  @media screen and (min-width: $breakpoint--xs) {
    justify-content: center;
  }
}

  .nav__brand {
    text-transform: uppercase;
    text-decoration: none;
    color: $color--base;
    font-size: 1.5rem;
    font-weight: 700;
  }
