//== Navigation ==//

.nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  z-index: $layer--mid; // allows shadow to overlap section below
  padding: $spacing--sm $spacing--md;
  background: transparent;
}

.nav__menuBtn,
.nav__brand {
  color: $color--white;
  text-decoration: none;
}

.nav__brand {
  line-height: 0;
}

.nav__menuBtn {
  @include boxShadow(8px);
  padding: 0.75rem $spacing--sm;
  font-weight: 300;
  letter-spacing: 0.06rem;
  text-shadow: 0 0.1rem 10px $color--primaryDark;
  border: 2px solid $color--white;
  border-radius: $borderRadius;
  transition: background $transitionDur $transitionEasing;
  background: rgba(0, 0, 0, 0);

  &:hover,
  &:focus,
  &:active {
    background: rgba($color--primaryDark, 0.25);
  }
}

.nav__menu {
  @include boxShadow($spacing--xl);
  background: $color--white;
  position: absolute;
  top: 0;
  margin: 0 $spacing--md;
  padding: $spacing--md;
  border: 1px solid $color--base;
  width: 100%;

  @media screen and (min-width: $breakpoint--sm) {
    width: 25%;
    margin: 0;
    top: $spacing--sm;
    right: $spacing--sm;
    border-radius: $borderRadius;
  }
}

.nav__menuLink {
  display: block;
  color: $color--primary;
  cursor: pointer;
  padding: $spacing--sm;
  transition: color $transitionDur $transitionEasing;

  &:hover {
    color: $color--primaryDark;
  }
}

.nav__closeBtn {
  @include size(25px);
  float: right;
  display: block;
  cursor: pointer;
  animation: growIn $transitionDur $transitionEasing forwards;

  .icon--close {
    fill: $color--secondary;
  }

  &:hover {
    animation: growOut $transitionDur $transitionEasing forwards;
  }
}
