//== Flexbox Overrides ==//

//== Display Properties
// Take a look at the other display properties rather than here
// Should be .u-display--flex and .u-display--inlineFlex

//== Aligning and Justifying
.u-alignItems--start {
  align-items: flex-start !important;
}

.u-alignItems--end {
  align-items: flex-end !important;
}

.u-alignItems--center {
  align-items: center !important;
}

.u-jstContent--start {
  justify-content: flex-start !important;
}

.u-jstContent--end {
  justify-content: flex-end !important;
}

.u-jstContent--center {
  justify-content: center !important;
}

.u-jstContent--spaceAround {
  justify-content: space-around !important;
}

//== Direction
.u-flexDir--row {
  flex-direction: row !important;
}

.u-flexDir--col {
  flex-direction: column !important;
}
