//== Overrides ==//

// These are used as utility classes (hence the 'u-')
// or overrides. In each case, the class
// typically only offers one property.

//== Misc stuff should go here!


//== Showing and Hiding
.u-invisible {
  visibility: hidden !important;
}

.u-txtHide { // accessible technique from http://webaim.org/techniques/css/invisiblecontent/#techniques - should allow screen reader to still view
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
}

//== Blockin' that scroll action
.u-overflow--hidden {
  overflow: hidden;
}

//== Floatin'
.u-float--none {
  float: none !important;
}

.u-float--left {
  float: left !important;
}

.u-float--right {
  float: right !important;
}

.u-clear--both {
  clear: both !important;
}

//== Displayin'
.u-display--none {
  display: none !important;
}

.u-display--inline {
  display: inline !important;
}

.u-display--block {
  display: block !important;
}

.u-display--inlineBlock {
  display: inline-block !important;
}

.u-display--flex {
  display: flex !important;
}

.u-display--inlineFlex {
  display: inline-flex !important;
}

//== Other Stuff
.u-slideUp { // used to apply negative top margin to allow previous content to visually overlap
  margin-top: -$spacing--lg * 2.5;
}


//== Border utility classes to define border colors on a case-by-case basis
.u-border--base {
  border-color: $color--base;
}

.u-border--white {
  border-color: $color--white;
}

.u-border--primary {
  border-color: $color--primary;
}

.u-border--secondary {
  border-color: $color--secondary;
}

//== Max width utility classes
.u-maxWidth--xs {
  max-width: $breakpoint--xs;
}

.u-maxWidth--sm {
  max-width: $breakpoint--sm;
}

.u-maxWidth--md {
  max-width: $breakpoint--md;
}

.u-maxWidth--lg {
  max-width: $breakpoint--lg;
}

.u-maxWidth--xl {
  max-width: $breakpoint--xl;
}
