//== Overrides ==//

// These are used as utility classes (hence the 'u-')
// or overrides. In each case, the class
// typically only offers one property.

//== Misc stuff should go here!


//== Showing and Hiding
.u-invisible {
  visibility: hidden !important;
}

.u-txtHide { // accessible technique from http://webaim.org/techniques/css/invisiblecontent/#techniques - should allow screen reader to still view
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
}

//== Floatin'
.u-float--none {
  float: none !important;
}

.u-float--left {
  float: left !important;
}

.u-float--right {
  float: right !important;
}

//== Displayin'
.u-display--none {
  display: none !important;
}

.u-display--inline {
  display: inline !important;
}

.u-display--block {
  display: block !important;
}

.u-display--inlineBlock {
  display: inline-block !important;
}

.u-display--flex {
  display: flex !important;
}

.u-display--inlineFlex {
  display: inline-flex !important;
}
