extends layouts/_default.pug

block content

  section.sect.sect--alt.sect--angle.hero
    .sect__container.u-mgTop--xl
      h1.tagline.tagline--h1.hero__tagline.u-mgTop--lg Front-end Web Design
      .hero__taglineContainer
        h2.tagline.tagline--h2.hero__tagline in Durham, NC
      a.button.button--primary See My Stuff!

  //- Portfolio section
  section.sect
    .sect__container.u-pdBottom--xl
      .gr
        .gr__col--1-2.u-mgBottom--lg
          h3 My Work
          hr
          p A selection of a few designs and code snippets.

      //- grid of portfolio items
      .gr.gr--xs
        .gr__col--1-4
          a.card.card--border.u-pd--0
            picture.card__img
              source(srcset="/images/portfolio/thumb-01.png", media="(min-width: 200px)")
              img(src="/images/portfolio/thumb-01.png", alt="")
        .gr__col--1-4
          a.card.card--border.u-pd--0
            img.card__img(src="/images/portfolio/thumb-02.webp", alt="")
        .gr__col--1-2
          a.card.card--border.u-pd--0
            img.card__img(src="/images/portfolio/thumb-03.webp", alt="")

      .gr.gr--xs
        .gr__col--1-4.gr__col--placeholder
          br
        .gr__col--1-4
          a.card.card--border.u-pd--0
            img.card__img(src="/images/portfolio/thumb-04.webp", alt="")
        .gr__col--1-4.gr__col--placeholder
          br
        .gr__col--1-4
          a.card.card--border.u-pd--0
            img.card__img(src="/images/portfolio/thumb-05.webp", alt="")
      .gr.gr--xs

        .gr__col--1-4
          a.card.card--border.u-pd--0
            img.card__img(src="/images/portfolio/thumb-06.webp", alt="")
        .gr__col--1-2
          a.card.card--border.u-pd--0
            img.card__img(src="/images/portfolio/thumb-07.webp", alt="")
        .gr__col--1-4
          a.card.card--border.u-pd--0
            img.card__img(src="/images/portfolio/thumb-08.webp", alt="")

  //- 'My Skillset' section
  section.sect.sect--alt.sect--angle.u-pdTop--xl
    .sect__container
      .gr
        .gr__col--1-2.u-mgBottom--lg
          h3 My Skillset
          hr
          p I'm a generalist with visual design and front-end development skills.

      .gr.gr--xs
        .gr__col--1-4
          a.card.card--flexCenter
            include partials/svg/_html5.pug
        .gr__col--1-4
          a.card.card--flexCenter
            include partials/svg/_sass.pug
        .gr__col--1-4
          a.card.card--flexCenter
            include partials/svg/_js.pug
        .gr__col--1-4
          a.card.card--flexCenter
            include partials/svg/_adobe-cc.pug

      .gr.gr--xs.u-flex.u-jstContent--center
        .gr__col--1-4
          a.card.card--flexCenter
            include partials/svg/_sketch.pug
        .gr__col--1-4
          a.card.card--flexCenter
            include partials/svg/_terminal.pug
        .gr__col--1-4
          a.card.card--flexCenter
            include partials/svg/_handlebars.pug

  //- 'About Me' sections
  section.sect
    .sect__container
      .gr.gr--xs
        .gr__col--1-3
          picture.avatar
            img.avatar__img(src="/images/me.webp", alt="Me!")
        .gr__col--1-3
          h3 About Me
          hr
          p I’m currently working for the BB&amp;T Digital Channel, doing visual design and front-end web development.
        .gr__col--1-3
          p.paragraph--paddingCol To see more work, find me elsewhere on the interwebs. You can always send me a message as well.

      .gr.u-mgTop--xl
        .card.card--squared.card--border.u-pd--xl
          h4 Send a message
          hr

          form.form
            input.form__input
            button.form__submit
              span.u-txtHide Send
