extends layouts/_default.pug

block content

  section.sect.sect--alt.sect--angle.hero
    .sect__container.u-mgTop--xl
      h1.tagline.tagline--h1.hero__tagline Front-end Web Design
      .hero__taglineContainer
        h2.tagline.tagline--h2.hero__tagline in Durham, NC
      a.button.button--primary See My Stuff!

  section.sect
    .sect__container
      .gr
        .gr__col--1-2.u-mgBottom--lg
          h3 My Work
          hr
          p A selection of a few designs and code snippets.

      //- grid of portfolio items
      .gr.gr--xs
        .gr__col--1-4
          a.card.card--border
        .gr__col--1-4
          a.card.card--border
        .gr__col--1-2
          a.card.card--border

      .gr.gr--xs
        .gr__col--1-4
          a.card.card--border
        .gr__col--1-4
          a.card.card--border
        .gr__col--1-4
          a.card.card--border
        .gr__col--1-4
          a.card.card--border
      .gr.gr--xs

        .gr__col--1-4
          a.card.card--border
        .gr__col--1-2
          a.card.card--border
        .gr__col--1-4
          a.card.card--border

  section.sect.sect--alt.sect--angle.u-pdTop--xl
    .sect__container
      .gr
        .gr__col--1-2
          h3 My Skillset
          hr
          p I'm a generalist with visual design and front-end development skills.

      .gr.gr--xs
        .gr__col--1-4
          a.card
        .gr__col--1-4
          a.card
        .gr__col--1-4
          a.card
        .gr__col--1-4
          a.card

      .gr.gr--xs.u-flex.u-jstContent--center
        .gr__col--1-4
          a.card
        .gr__col--1-4
          a.card
        .gr__col--1-4
          a.card
