extends layouts/_default.pug

block content
  section.sect.sect--alt
    div.sect__container
      h1.tagline.tagline--h1 Front-end Web Design
      h2.tagline.tagline--h2 in Durham, NC

      a.button.button--primary See My Stuff!
