extends layouts/default.pug

block content

  section.sect.sect--primary.sect--angle.hero
    h1.tagline.tagline--h1.u-mgTop--xl Front-end Web&nbsp;Design
    .hero__taglineContainer
      h2.tagline.tagline--h2 in Durham, NC
    a.btn.btn--secondary(tabindex="0")
      span.btn__txt See My Stuff!

  //- Portfolio section
  section.sect
    .gr.u-txtAlign--c
      h4 My Work
      hr.u-mgX--auto
      p A selection of a few designs and code snippets.

    //- grid of portfolio items
    include partials/mixins/portfolioCard.pug

    .card__row
      +portfolioCard('thumb-01', 'Alt Stuff!')
      +portfolioCard('thumb-02', 'Alt Stuff!')
      +portfolioCard('thumb-03', 'Alt Stuff!')
      +portfolioCard('thumb-05', 'Alt Stuff!')
      +portfolioCard('thumb-06', 'Alt Stuff!')
      +portfolioCard('thumb-07', 'Alt Stuff!')
      +portfolioCard('thumb-08', 'Alt Stuff!')
      +portfolioCard('thumb-04', 'Alt Stuff!')
      +portfolioCard('thumb-04', 'Alt Stuff!')
      +portfolioCard('thumb-04', 'Alt Stuff!')
      +portfolioCard('thumb-04', 'Alt Stuff!')

  //- 'My Skillset' section
  section.sect.sect--primary.sect--angle.u-slideUp.u-pdY--xl
    .gr.u-pdY--lg.u-txtAlign--c
      h4 My Skillset
      hr.u-mgX--auto
      p I'm a generalist with visual design and front-end development skills.

    .card__row
      a.card.card--btn.card--flexCenter.js-skillCard(tabindex="0")
        span.u-txtHide HTML5
        include partials/svg/html5.pug
        .card__msg.is-hidden
          h5.card__msgHeading HTML5
          p.card__msgText Writing semantic, accessible markup

      a.card.card--btn.card--flexCenter.js-skillCard(tabindex="0")
        span.u-txtHide Sass
        include partials/svg/sass.pug
        .card__msg.is-hidden
          h5.card__msgHeading Sass
          p.card__msgText Using modular, and easy to maintain coding patterns

      a.card.card--btn.card--flexCenter.js-skillCard(tabindex="0")
        span.u-txtHide JavaScript
        include partials/svg/js.pug
        .card__msg.is-hidden
          h5.card__msgHeading JavaScript
          p.card__msgText Taking an object-oriented approach

      a.card.card--btn.card--flexCenter.js-skillCard(tabindex="0")
        span.u-txtHide Creative Cloud
        include partials/svg/adobe-cc.pug
        .card__msg.is-hidden
          h5.card__msgHeading Creative Cloud
          p.card__msgText Illustrator and Photoshop, mostly!

      a.card.card--btn.card--flexCenter.js-skillCard(tabindex="0")
        span.u-txtHide Sketch
        include partials/svg/sketch.pug
        .card__msg.is-hidden
          h5.card__msgHeading Sketch
          p.card__msgText Protoyping and designing using a newer tool

      a.card.card--btn.card--flexCenter.js-skillCard(tabindex="0")
        span.u-txtHide Terminal
        include partials/svg/terminal.pug
        .card__msg.is-hidden
          h5.card__msgHeading Terminal
          p.card__msgText Largely for running build tools and troubleshooting

      a.card.card--btn.card--flexCenter.js-skillCard(tabindex="0")
        span.u-txtHide Handlebars
        include partials/svg/handlebars.pug
        .card__msg.is-hidden
          h5.card__msgHeading Handlebars
          p.card__msgText Using templating to write more efficient markup

  //- 'About Me' section
  section.sect
    .gr.gr--xs.u-pdY--lg
      .gr__col--1-3.u-display--flex.u-jstContent--center.u-mgRight--0
        picture.avatar
          img.avatar__img(src="/images/me.webp", alt="Me!")
      .gr__col--2-3
        h4 About Me
        hr
        .paragraph--paddingCol
          p I’m currently working for the BB&amp;T Digital Channel, doing visual design and front-end web development.
          p To see more work, find me elsewhere on the interwebs. You can always send me a message as well.


  //- 'Contact' section
  section.sect.sect--secondary.sect--fluid.u-mgTop--lg.u-pdBottom--xl
    .gr.card.card--fluid.u-slideUp.u-pdY--lg.u-pdBottom--md
      h4 Send a message
      hr
      p Send me your name and email address and I'll get back with you shortly. I won't share your information with anyone.

      form.form.u-mgTop--lg
        .gr.gr--xs
          fieldset.gr__col--1-2.form__fieldset
            input.form__input(id="first-name", name="first-name", type="text", placeholder="First Name", required)
            label.form__label(for="first-name") First Name

          fieldset.gr__col--1-2.form__fieldset
            input.form__input(id="last-name", name="last-name", type="text", placeholder="Last Name", required)
            label.form__label(for="last-name") Last Name

        fieldset.form__fieldset
          input.form__input(id="email-address", name="email-address", type="text", placeholder="Email Address", required)
          label.form__label(for="email-address") Email Address

        button.btn.btn--primary.btn--smallFull.u-mgTop--lg(type="submit", method="post")
          span.btn__txt Send

  //- Modals/lightboxes used to display portfolio content
  include partials/mixins/portfolioModal.pug

  +portfolioModal('thumb-01')
  +portfolioModal('thumb-02')
  +portfolioModal('thumb-03')
  +portfolioModal('thumb-04')
  +portfolioModal('thumb-05')
  +portfolioModal('thumb-06')
  +portfolioModal('thumb-07')
  +portfolioModal('thumb-08')
  +portfolioModal('thumb-09')
