extends layouts/default.pug

block content

  section.sect.sect--primary.sect--angle.hero#top
    h1.tagline.tagline--h1.u-mgTop--xl Front-end Web&nbsp;Design
    .hero__taglineContainer
      h2.tagline.tagline--h2 in Durham, NC
    a.btn.btn--secondary(href="#portfolio", tabindex="0")
      span.btn__txt See My Stuff!

  //- Portfolio section
  section.sect#portfolio
    .gr.u-txtAlign--c
      h4 My Work
      hr.u-mgX--auto.u-border--base
      p A selection of a few designs and code snippets.

    //- grid of portfolio items
    include partials/mixins/portfolioCard.pug

    .card__row
      +portfolioCard('01', 'Alt Stuff!')
      +portfolioCard('02', 'Alt Stuff!')
      +portfolioCard('03', 'Alt Stuff!')
      +portfolioCard('04', 'Alt Stuff!')
      +portfolioCard('05', 'Alt Stuff!')
      +portfolioCard('06', 'Alt Stuff!')
      +portfolioCard('07', 'Alt Stuff!')
      +portfolioCard('08', 'Alt Stuff!')
      +portfolioCard('09', 'Alt Stuff!')
      +portfolioCard('10', 'Alt Stuff!')
      +portfolioCard('11', 'Alt Stuff!')

    //- Modals/lightboxes used to display portfolio content
    include partials/mixins/portfolioModal.pug
    //- Modal images mixin
    include partials/mixins/portfolioImage.pug

    //- For the modal, pass in the item number AKA the directory number
    //- For each image, pass in the same item number and
    +portfolioModal('01', 'Strength & Sport', "A logo for a friend's strength training business.")
      +portfolioImage('01', '1', 'Strength and Sport Logo and Illustration')

    +portfolioModal('02', 'Toggling Mobile Menu', 'Toggling mobile menu concept that simulates sliding in sync with the button itself.')
      +portfolioImage('02', '1', 'Screenshot of the Toggling Mobile Menu')
      a.btn.btn--secondary.u-mgY--sm(target="_blank", href="http://codepen.io/nicklemmon/pen/Krxdvv")
        span.btn__iconContainer
          include partials/svg/icon--codepen.pug
        span.btn__txt Go to Codepen

    +portfolioModal('03', 'Toggling Switch', 'A toggling switch with keyframe animation.')
      +portfolioImage('03', '1', 'Screenshot of the Toggling Switch')
      a.btn.btn--secondary.u-mgY--sm(target="_blank", href="http://codepen.io/nicklemmon/pen/ZQqoON")
        span.btn__iconContainer
          include partials/svg/icon--codepen.pug
        span.btn__txt Go to Codepen

    +portfolioModal('04', 'Sketchbook Illustrations', 'Various drawings in notebooks and sketchbooks over the last few years.')
      +portfolioImage('04', '1', 'Illustration of a dragon')
      +portfolioImage('04', '2', 'Illustration of a robot and a few other characters')
      +portfolioImage('04', '3', 'Illustration of a monster face')
      +portfolioImage('04', '4', 'Another illustration of a monster face')
      +portfolioImage('04', '5', 'Yet another monster face!')
      +portfolioImage('04', '6', 'Illustration of a robot')
      +portfolioImage('04', '7', 'Illustration of a tentacled eyeball!')

    +portfolioModal('05', 'Rent Otter', 'A responsive Bootstrap site for a fictional VIP rental company.')
      +portfolioImage('05', '1', 'Rent Otter logo treatments')
      +portfolioImage('05', '2', 'The home page on a wide screen size')
      +portfolioImage('05', '3', 'The site on a mobile device')

    +portfolioModal('06', 'UNC CTI Project Infographic', 'Infographic describing outcomes for the UNC Critical Time Intervention homelessness outreach program.')
      +portfolioImage('06', '1', 'Infographic describing UNC CTI project outcomes')

    +portfolioModal('07', 'XDSinc.org Web Design and Development', 'Web design and front-end development for Cross Disability Services (XDS), a nonprofit in North Carolina serving individuals with disabilities.')
      +portfolioImage('07', '1', 'Screenshot of the landing page on a wide screen')
      +portfolioImage('07', '2', 'Screenshot of the donation page on a wide screen')
      +portfolioImage('07', '3', 'Screenshot of the donation page on a narrow screen')
      +portfolioImage('07', '4', 'Screenshot of the mobile navigation on a narrow screen')
      +portfolioImage('07', '5', 'Screenshot of the programs page')
      +portfolioImage('07', '6', 'Screenshot of the about page on a narrow screen')

    +portfolioModal('08', 'Simple, Animating Form Cards', 'Animating form card design using JavaScript and CSS Keyframes')
      +portfolioImage('08', '1', 'A screenshot of the animating form cards')
      a.btn.btn--secondary.u-mgY--sm(target="_blank", href="http://codepen.io/nicklemmon/pen/QEZvkb")
        span.btn__iconContainer
          include partials/svg/icon--codepen.pug
        span.btn__txt Go to Codepen

    +portfolioModal('09', 'Nicklemmon.com, 2014', 'Illustrated, responsive web design using Bootstrap from 2014')
      +portfolioImage('09', '1', 'Screenshot of the landing page - with a robot!')
      +portfolioImage('09', '2', 'Screenshot of the landing page - with a dinosaur!')
      +portfolioImage('09', '3', 'Angled view of the landing page on a wide screen')

    +portfolioModal('10', 'UNC Department of Psychiatry Program Posters', 'Poster designs for a UNC Department of Psychiatry event')
      +portfolioImage('10', '1', 'Two posters for the Hospital Transition Team and the Dialectical Behavioral Therapy program')

    +portfolioModal('11', 'Big Picture Films Logo', 'Logo design with hand-drawn illustration for a wedding photography and videography business based in Atlanta, GA')
      +portfolioImage('11', '1', 'Bow tie pen and ink illustration')
      +portfolioImage('11', '2', 'Early bow tie concept pen and ink illustration')
      +portfolioImage('11', '3', 'Alternate bow tie concept pen and ink illustration')
      +portfolioImage('11', '4', 'Five bow tie concepts')
      +portfolioImage('11', '5', 'Final logo design with type treatment, inverted')
      +portfolioImage('11', '6', 'Final logo design with type treatment')

  //- 'My Skillset' section
  section.sect.sect--primary.sect--angle.u-slideUp.u-pdY--xl#skillset
    .gr.u-pdY--lg.u-txtAlign--c
      h4 My Skillset
      hr.u-mgX--auto.u-border--white
      p I'm a generalist with visual design and front-end development skills.

    .card__row
      a.card.card--btn.card--flexCenter.js-skillCard(tabindex="0")
        span.u-txtHide HTML5
        include partials/svg/html5.pug
        .card__msg.is-hidden
          h5.card__msgHeading HTML5
          p.card__msgText Writing semantic, accessible markup

      a.card.card--btn.card--flexCenter.js-skillCard(tabindex="0")
        span.u-txtHide Sass
        include partials/svg/sass.pug
        .card__msg.is-hidden
          h5.card__msgHeading Sass
          p.card__msgText Using modular, and easy to maintain coding patterns

      a.card.card--btn.card--flexCenter.js-skillCard(tabindex="0")
        span.u-txtHide JavaScript
        include partials/svg/js.pug
        .card__msg.is-hidden
          h5.card__msgHeading JavaScript
          p.card__msgText Taking an object-oriented approach

      a.card.card--btn.card--flexCenter.js-skillCard(tabindex="0")
        span.u-txtHide Creative Cloud
        include partials/svg/adobe-cc.pug
        .card__msg.is-hidden
          h5.card__msgHeading Creative Cloud
          p.card__msgText Illustrator and Photoshop, mostly!

      a.card.card--btn.card--flexCenter.js-skillCard(tabindex="0")
        span.u-txtHide Sketch
        include partials/svg/sketch.pug
        .card__msg.is-hidden
          h5.card__msgHeading Sketch
          p.card__msgText Protoyping and designing using a newer tool

      a.card.card--btn.card--flexCenter.js-skillCard(tabindex="0")
        span.u-txtHide Terminal
        include partials/svg/terminal.pug
        .card__msg.is-hidden
          h5.card__msgHeading Terminal
          p.card__msgText Largely for running build tools and troubleshooting

      a.card.card--btn.card--flexCenter.js-skillCard(tabindex="0")
        span.u-txtHide Handlebars
        include partials/svg/handlebars.pug
        .card__msg.is-hidden
          h5.card__msgHeading Handlebars
          p.card__msgText Using templating to write more efficient markup

  //- 'About Me' section
  section.sect#aboutMe
    .gr.gr--xs.u-pdY--lg
      .gr__col--1-3.u-display--flex.u-jstContent--center.u-mgRight--0
        picture.avatar
          source.avatar__img(srcset="../images/me.webp", type="image/webp")
          img.avatar__img(src="../images/me.jpg", alt="Me!")
      .gr__col--2-3
        h4 About Me
        hr.u-border--base
        .paragraph--paddingCol
          p I’m currently working for the BB&amp;T Digital Channel, doing visual design and front-end web development.
          p To see more work, find me elsewhere on the interwebs. You can always send me a message as well.


  //- 'Contact' section
  section.sect.sect--secondary.sect--fluid.u-mgTop--lg.u-pdBottom--xl#sendAMessage
    .gr.card.card--fluid.u-slideUp.u-pdY--lg.u-pdBottom--md
      h4 Send a message
      hr.u-border--base
      p Send me your name and email address and I'll get back with you shortly. I won't share your information with anyone.

      form.form.u-mgTop--lg
        .gr.gr--xs
          fieldset.gr__col--1-2.form__fieldset
            input.form__input(id="first-name", name="first-name", type="text", placeholder="First Name", required)
            label.form__label(for="first-name") First Name

          fieldset.gr__col--1-2.form__fieldset
            input.form__input(id="last-name", name="last-name", type="text", placeholder="Last Name", required)
            label.form__label(for="last-name") Last Name

        fieldset.form__fieldset
          input.form__input(id="email-address", name="email-address", type="text", placeholder="Email Address", required)
          label.form__label(for="email-address") Email Address

        button.btn.btn--primary.btn--smallFull.u-mgTop--md(type="submit", method="post")
          span.btn__txt Send
