extends layouts/_default.pug

block content

  section.sect.sect--alt.sect--hero
    div.sect__container

      h1.tagline.tagline--h1.sect--hero__tagline Front-end Web Design

      div.sect--hero__taglineContainer
        h2.tagline.tagline--h2.sect--hero__tagline in Durham, NC

      a.button.button--primary See My Stuff!

  section.sect
    div.sect__container

      h3 My Work
      hr
      p A selection of a few designs and code snippets.
