//== Animations ==//

@keyframes fadeInUp {
  0% {
    transform: translateY(0);
    visibility: hidden;
    opacity: 0;
  }

  30% {
    transform: translateY(-$spacing--sm);
  }

  100% {
    transform: translateY(0);
    visibility: visible;;
    opacity: 1;
  }
}

@keyframes fadeOutDown {
  0% {
    transform: translateY(0);
    visibility: visible;;
    opacity: 1;
  }

  100% {
    transform: translateY($spacing--md);
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes cardHoverIn {
  0% {
    transform: perspective(1000px) translateZ(0);
  }

  100% {
    transform: perspective(1000px) translateZ(15px);
  }
}

@keyframes cardHoverOut {
  0% {
    transform: perspective(1000px) translateZ(15px);
  }

  100% {
    transform: perspective(1000px) translateZ(0);
  }
}

@keyframes loadAnim--outer {
  0% {
    transform: scale(1.0);
  }

  50% {
    transform: scale(2.0) rotateY(180deg);
  }

  100% {
    transform: scale(1.0);
  }
}

@keyframes loadAnim--inner {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(2.0);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes skillFlipIn {
  0% {
    transform: rotateX(90deg);
  }

  100% {
    transform: rotateX(0);
    visibility: visible;
  }
}

@keyframes skillFlipOut {
  0% {
    transform: rotateX(0);
  }

  100% {
    transform: rotateX(90deg);
    visibility: hidden;
  }
}

@keyframes growOut {
  0% {
    transform: scaleX(1) scaleY(1);
  }

  50% {
    transform: scaleX(1.15) scaleY(1.15);
  }

  100% {
    transform: scaleX(1.1) scaleY(1.1);
    fill: $color--primaryDark;
  }
}

@keyframes growIn {
  0% {
    transform: scaleX(1.1) scaleY(1.1);
  }

  100% {
    transform: scaleX(1) scaleY(1);
    fill: $color--primary;
  }
}

@keyframes slideOut {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    transform: scale(1.02);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
