//== Animations ==//

@keyframes press {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}

@keyframes cardHoverIn {
  0% {
    transform: perspective(1000px) translateZ(0);
  }

  100% {
    transform: perspective(1000px) translateZ(15px);
  }
}

@keyframes cardHoverOut {
  0% {
    transform: perspective(1000px) translateZ(15px);
  }

  100% {
    transform: perspective(1000px) translateZ(0);
  }
}

@keyframes loadAnim--outer {
  0% {
    transform: scale(1.0);
  }

  50% {
    transform: scale(2.0) rotateY(180deg);
  }

  100% {
    transform: scale(1.0);
  }
}

@keyframes loadAnim--inner {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(2.0);
  }

  100% {
    transform: scale(0);
  }
}
