//== Base Styles, Containers, etc. ==//

* {
  box-sizing: border-box;
}

.content {
  position: relative;
  z-index: $layer--low;
}

img,
source {
  width: 100%;
  height: auto;
}

*:focus {
  outline: 2px dashed currentColor;
  outline-offset: -2px;
}
