//== Grid - using Jeet! http://jeet.gs ==//
// Imported from the /vendor dir,
// settings can be found in there

.gr {
  @include center($breakpoint--md);
  padding-bottom: $spacing--md;
}

.gr--full {
  @include center(100%);
}

//== Columns
$list-o-columns: (
  "1-4", "1-3", "1-2", "2-3", "3-4"
);

.gr__col--1-4 {
  @include col(1/4);
}

.gr__col--1-3 {
  @include col(1/3);
}

.gr__col--1-2 {
  @include col(1/2);
}

.gr__col--2-3 {
  @include col(2/3);
}

.gr__col--3-4 {
  @include col(3/4);
}

//== Placeholder column
// Used to create an empty column,
// filling it with a <br> but hiding it
// at the appropriate breakpoint
@mixin hidePlaceholder {
  content: '';
  display: none;
  padding-bottom: 0;
}

//== Columns w/ breakpoints
// At the row level, use
// the following classes to
// make the breakpoints happen.

// Collapses to 100% below large breakpoint
@media screen and (max-width: $breakpoint--lg) {
  .gr--lg {
    padding-bottom: 0; // disables default padding on the row...

    .gr__col--placeholder {
      @include hidePlaceholder();
    }

    @each $val in $list-o-columns {
      .gr__col--#{$val} {
        @include col(1);
        padding-bottom: $spacing--lg; // ...and puts it on the column
      }
    }
  }
}

// Collapses to 100% below medium breakpoint
@media screen and (max-width: $breakpoint--md) {
  .gr--md {
    padding-bottom: 0;

    .gr__col--placeholder {
      @include hidePlaceholder();
    }

    @each $val in $list-o-columns {
      .gr__col--#{$val} {
        @include col(1);
        padding-bottom: $spacing--lg;
      }
    }
  }
}

// Collapses to 100% below small breakpoint
@media screen and (max-width: $breakpoint--sm) {
  .gr--sm {
    padding-bottom: 0;

    .gr__col--placeholder {
      @include hidePlaceholder();
    }

    @each $val in $list-o-columns {
      .gr__col--#{$val} {
        @include col(1);
        padding-bottom: $spacing--lg;
      }
    }
  }
}

// Collapses to 100% below x-small breakpoint
@media screen and (max-width: $breakpoint--xs) {
  .gr--xs {
    padding-bottom: 0;

    .gr__col--placeholder {
      @include hidePlaceholder();
    }

    @each $val in $list-o-columns {
      .gr__col--#{$val} {
        @include col(1);
        padding-bottom: $spacing--lg;
      }
    }
  }
}

//== Narrow Grid Rows
// Used for grid rows that do not span the full width of the page
.gr--narrowXs {
  @media screen and (min-width: $breakpoint--xs) {
    display: flex;
    justify-content: center;
  }
}
