//== Typography ==//

//== Base
html {
  font-size: 62.5%; // see https://snook.ca/archives/html_and_css/font-size-with-rem
  font-family: $fontStack--primary;
  color: $color--base;
}

//== Headings
h1,
h2,
h3,
h4 {
  font-family: $fontStack--secondary;
}

// Sizes defined using http://modularscale.com 1.5 ratio
h1 {
  font-size: 5.5rem;
}

h2 {
  font-size: 3.667rem;
}

h3 {
  font-size: 2.444rem;
}

h4 {
  font-size: 1.63rem;
}

hr {
  max-width: 15px;
  border: 1px solid inherit;
  margin: $spacing--md 0;
}

p {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.85;
  letter-spacing: 0.06rem;
}
