//== Typography ==//

// Defining baseline
$baseline: $spacing--sm;

// Screen min and max for font purposes //
$screen--min: $breakpoint--xs;
$screen--max: $breakpoint--lg;

// Font size min and max //
$fontSize--min: 0.9rem;
$fontSize--max: 1.15rem;

html {
  color: $color--base;
  font-family: $fontStack--primary;
  @include fluid-type(font-size, $screen--min, $screen--max, $fontSize--min, $fontSize--max); // mixin from http://codepen.io/MadeByMike/pen/bEEGvv?editors%3D0100
}

// using http://modularscale.com using 1.5 ratio
$headings-map: (
  h1: 2.856rem,
  h2: 2.197rem,
  h3: 1.69rem,
  h4: 1.3rem,
  h5: 1rem
);

// Headings //
h1,
h2,
h3,
h4,
h5 {
  font-family: $fontStack--secondary;
  margin-bottom: $spacing--sm;

  &:first-of-type {
    margin-top: 0;
  }
}

@each $heading, $val in $headings-map {
  #{$heading} {
    font-size: $val;
    line-height: $val;
    margin-top: calc((#{$baseline} - #{$val}) + #{$baseline}); // mixin from http://codepen.io/MadeByMike/pen/bEEGvv?editors%3D0100
  }
}

hr {
  max-width: 15px;
  border: 1px solid currentColor;
  margin: $spacing--md 0;
}

p {
  font-size: 1.3rem;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.75;
  letter-spacing: 0.06rem;

  @media screen and (min-width: $breakpoint--xs) {
    font-size: 0.9rem;
    line-height: 1.85;
  }
}
