<svg class="card__svgIcon" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 473.1 365" version="1.1" enable-background="new 0 0 473.1 365">
<path d="m471 11.3c-3-6.7-10-11.3-18-11.3h-433c-11 0-20 9.1-20 20.3v324c0 12 9.1 21 20.3 21h432c11.3 0 20.3-9.1 20.3-20.3v-325c1-3 0-6-1-8.7zm-444 15.7h419v284h-419v-284z"/>
<polygon points="132 91.5 132 118 211 149 132 180 132 207 231 162 231 136" clip-rule="evenodd" fill-rule="evenodd"/>
<rect fill-rule="evenodd" height="22.9" width="109" clip-rule="evenodd" y="205" x="237"/>
</svg>
