<svg class="icon icon--contact" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 200 200" version="1.1" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 200 200">
<g>
	<path d="m35.3 21h130c13.6 0 20.4 13.5 10.8 21.4l-67.8 55.9c-4.2 3.5-11.2 3.5-15.4 0l-68.1-55.9c-9.6-7.9-2.8-21.4 10.8-21.4z"/>
		<path d="m24.5 42.4l67.8 55.9c2.1 1.8 4.9 2.6 7.7 2.6s5.6-0.9 7.7-2.6l67.8-55.9c9.6-7.9 2.8-21.4-10.8-21.4h-130c-13.3-0.1-20.1 13.4-10.5 21.3z"/>
		<path d="m127 122c-7.4 6.1-16.9 9.5-26.8 9.5s-19.4-3.4-26.8-9.5l-53.2-44.4v91.4c0 6.6 5.4 12 12 12h136c6.6 0 12-5.4 12-12v-91.4l-53 44.4z"/>
</g>
</svg>
