<svg class="icon icon--portfolio" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 200 200">
<g>
	<path d="m137 116v3c0 6.6-5.4 12-12 12h-46c-6.6 0-12-5.4-12-12v-3h-45v53c0 6.6 5.4 12 12 12h136c6.6 0 12-5.4 12-12v-53h-45z"/>
	<path d="m79 86h103v-13c0-6.6-5.4-12-12-12h-3.1c-1-22.2-19.5-40-41.9-40h-46c-22.5 0-40.9 17.8-41.9 40h-3.1c-6.6 0-12 5.4-12 12v13h57zm0-35h46c5.9 0 10.9 4.3 11.8 10h-69.8c0.9-5.7 5.9-10 11.8-10z"/>
</g>
</svg>
