<svg class="card__svgIcon" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 237.2 218.9" version="1.1" enable-background="new 0 0 237.2 218.9">
<path clip-rule="evenodd" d="m204 18.1l-43-18.1h-85l-42.4 18.1-33.6 39.1 119 162 118-162-33-38.9zm23 39.5l-43.3 32.9-20.4-45.4 37.4-18.3 26 30.8zm-51 34.8h-115l19.8-44.2h75.1l20 44.2zm-98.5-84.4h81.8l33 14.1-36.4 18.1h-75.2l-36.3-18.1 33-14.1zm-41.3 18.9l37.4 18.3-20.4 45.4-43.3-33 26.3-30.7zm-9.7 53.4l24.9 18.9 31.6 58-56.5-76.7zm91.5 126l-56.9-106h115l-58 106zm36-49l31.6-58 24.9-18.9-57 76.9z" fill-rule="evenodd"/>
</svg>
