mixin portfolioImage(itemNum, imageNum, altText)
  picture.portfolioImage.u-display--block
    source.portfolioImg__img(srcset="", data-srcset="../images/portfolio/" + itemNum + "/img-" + imageNum + ".webp", type="image/webp")
    img.portfolioImg__img(src="", data-src="../images/portfolio/" + itemNum + "/img-" + imageNum + ".png", alt=altText)
