mixin portfolioModal(target)
  .modal__overlay.js-modalOverlay.is-hidden
    .modal.js-modal(data-target=target).is-hidden
      a.modal__closeBtn.js-modalClose
        include ../svg/icon--close.pug

      if block
        block
      else
        p There is no content :(
