mixin portfolioImage(itemNum, imageNum, altText)
  picture.portfolioImage.u-display--block.u-mgBottom--md
    source.portfolioImg__img(src="../images/portfolio/" + itemNum + "/img-" + imageNum + ".webp", type="image/webp")
    img.portfolioImg__img(src="../images/portfolio/" + itemNum + "/img-" + imageNum + ".png", alt=altText)
