mixin portfolioModal(target)
  .modal__overlay.js-modalOverlay.is-hidden
    .modal.js-modal(data-target=target).is-hidden
      a.modal__closeBtn.js-modalClose
        span.u-txtHide Close the popup window
        include ../svg/icon--close.pug

      if block
        block
      else
        p There is no content :(

      hr.u-border--primary.u-mgBottom--sm.u-mgTop--md
      a.modal__closeText.js-modalClose Close
