mixin portfolioModal(target, title, description)
  .modal__overlay.js-modalOverlay.is-hidden
    .modal.js-modal(data-target=target).is-hidden
      a.modal__closeBtn.js-modalClose
        span.u-txtHide Close the popup window
        include ../svg/icon--close.pug

      div.u-txtAlign--c
        h5.modal__heading #{title}
        p.u-mgBottom--md.u-mgX--auto.u-maxWidth--xs #{description}

        if block
          block
        else
          p There is no content :(

      div.modal__footer
        a.modal__closeText.js-modalClose Close
