mixin portfolioCard(fileName, altText)
  a.card.card--btn.js-modalOpen.u-pd--0(tabindex="0",href=fileName)
    span.u-txtHide #{altText} - Opens popup view of the portfolio item
    picture.card__img
      source(srcset="/images/portfolio/" + fileName + ".webp", alt=altText, type="image/webp")
      img(src="/images/portfolio/" + fileName + ".png", alt=altText)
