//== Sass Mixins ==//

//== Size Mixin
@mixin size($val) {
  height: $val;
  width: $val;
}

//== Box Shadow Mixin
@mixin boxShadow($length) {
  box-shadow: 0 $length ($length / 2) (-$length / 2) rgba(#000, 0.15);
}

//== Fluid Type Mixin from https://codepen.io/MadeByMike/pen/vNrvdZ
@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
	& {
		@each $property in $properties {
			#{$property}: $min-value;
		}

		@media screen and (min-width: $min-vw) {
			@each $property in $properties {
				#{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
			}
		}

		@media screen and (min-width: $max-vw) {
			@each $property in $properties {
				#{$property}: $max-value;
			}
		}
	}
}

//== Needed for fluid-type mixin also from https://codepen.io/MadeByMike/pen/vNrvdZ
@function strip-unit($value) {
	@return $value / ($value * 0 + 1);
}
