//== Colors ==//

$color--base: #141B40;
  $color--baseLight: scale-color($color--base, $lightness: 20%);
  $color--baseDark: scale-color($color--base, $lightness: -20%);
$color--white: #FFF;
$color--gray: #636363;
$color--primary: #4B66E8;
  $color--primaryDark: scale-color($color--primary, $lightness: -20%);
$color--secondary:  #4AE8C1;
  $color--secondaryDark: scale-color($color--secondary, $lightness: -20%);
