//== Colors ==//

$color--base:       #141B40;
$color--white:      #FFF;
$color--primary:    #4B66E8;
$color--secondary:  #4AE8C1;
  $color--secondaryDark: scale-color($color--secondary, $lightness: -15%);
