//== Misc Vars ==//

//== Spacing
$spacing--sm: 1rem;
$spacing--md: 1.5rem;
$spacing--lg: 3rem;
$spacing--xl: 5rem;

//== Breakpoints
$breakpoint--xs: 544px;
$breakpoint--sm: 768px;
$breakpoint--md: 992px;
$breakpoint--lg: 1200px;

//== Z-Index Values / "Layers"
$layer--bottom:   -5;
$layer--low:      0;
$layer--mid:      5;
$layer--high:     10;
$layer--top:      15;

//== Animation Schtuff
$transitionDur:     0.2s;
$transitionEasing:  ease-out;

//== Misc
$sectionRotation: 3deg;
$borderRadius: 12px;
$boxShadow: 0 0.6rem 7px -0.1rem rgba(#000, 0.1);
