//== Misc Vars ==//

//== Spacing
$spacing--sm: 1rem;
$spacing--md: 1.5rem;
$spacing--lg: 3rem;
$spacing--xl: 5rem;

//== Breakpoints
$breakpoint--xs: 544px;
$breakpoint--sm: 768px;
$breakpoint--md: 992px;
$breakpoint--lg: 1200px;

//== Z-Index Values / "Layers"
$layer--bottom:   -1;
$layer--low:      0;
$layer--mid:      1;
$layer--high:     2;
$layer--top:      3;

//== Animation Schtuff
$transitionDur:     0.4s;
$transitionEasing:  ease-out;

//== Misc
$sectionRotation: 3deg;
$borderRadius: 12px;
