//== Misc Vars ==//

//== Spacing
$spacing--xs: 0.5rem;
$spacing--sm: 1rem;
$spacing--md: 1.5rem;
$spacing--lg: 3rem;
$spacing--xl: 5rem;

//== Breakpoints
$breakpoint--xs: 480px;
$breakpoint--sm: 768px;
$breakpoint--md: 992px;
$breakpoint--lg: 1200px;
$breakpoint--xl: 1600px;

//== Z-Index Values / "Layers"
$layer--bottom:   -5;
$layer--low:      0;
$layer--mid:      5;
$layer--high:     10;
$layer--top:      15;
$layer--tipTop:   20;

//== Animation Schtuff
$transitionDur:     0.2s;
$transitionEasing:  ease-out;

//== Misc
$sectionRotation: 3deg;
$borderRadius: 14px;
