footer(class="footer")
  a(href="http://github.io/nicklemmon", class="footer__socialLink")
  a(href="http://codepen.io/nicklemmon", class="footer__socialLink")
  a(href="http://twitter.com/nicklemmon", class="footer__socialLink")
