footer.footer
  //- uses inline SVG, included via .pug partials
  a.footer__btn(href="http://github.com/nicklemmon")
    include ../partials/svg/github.pug
  a.footer__btn(href="http://codepen.io/nicklemmon")
    include ../partials/svg/codepen.pug
  //-a.footer__btn(href="http://twitter.com/nicklemmon")
    include ../partials/svg/twitter.pug
