footer.footer
  .footer__btnRow
    //- uses inline SVG, included via .pug partials
    a.footer__btn(href="http://github.com/nicklemmon")
      include ../partials/svg/github.pug
    a.footer__btn(href="http://codepen.io/nicklemmon")
      include ../partials/svg/codepen.pug
    //-a.footer__btn(href="http://twitter.com/nicklemmon")
      include ../partials/svg/twitter.pug
  .footer__subFooter
    .gr
      p.u-smallText.u-txtAlign--r All Rights Reserved, #[a.footer__link(href="#top") Nick Lemmon] 2016
