head
  meta(charset="utf-8")
  title Nick Lemmon - front end web designer in Durham, NC
  link(rel="stylesheet", href="/styles/style.css")
  meta(name="viewport", content="width=device-width, initial-scale=1")
