nav.nav
  //- a.nav__brand(href="/index.html") Nick Lemmon - commented out
  a.nav__menuBtn.js-menuBtn(tabindex="0", role="button", href="javascript:void(0)") Menu

  .nav__menu.js-menu.is-collapsed
    ul.nav__menuList
      li.nav__menuListItem
        a.nav__menuLink.js-menuBtn(href="#portfolio")
          include svg/icon--portfolio.pug
          | My Work

      li.nav__menuListItem
        a.nav__menuLink.js-menuBtn(href="#skillset")
          include svg/icon--skill.pug

          | My Skillset

      li.nav__menuListItem
        a.nav__menuLink.js-menuBtn(href="#aboutMe")
          include svg/icon--about.pug
          | About Me

      li.nav__menuListItem
        a.nav__menuLink.js-menuBtn(href="#sendAMessage")
          include svg/icon--contact.pug
          | Send a Message

    a.nav__closeBtn.js-menuBtn(tabindex="0", role="button", href="javascript:void(0)")
      span.u-txtHide Close the menu
      include svg/icon--close.pug
