//== Misc Trumps (or Clintons) ==//

// These are used as utility classes
// or overrides. In each case, the class
// typically only offers one property.


//== Typographic
.u-txtAlign--l {
  text-align: left;
}

.u-txtAlign--c {
  text-align: center;
}

.u-txtAlign--r {
  text-align: right;
}
