//== Buttons ==//

.btn {
  @include boxShadow(8px);
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: $spacing--sm $spacing--md;
  font-family: $fontStack--secondary;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  border-radius: $borderRadius;
  cursor: pointer;
  color: $color--white;
  text-decoration: none;
  transition: background $transitionDur $transitionEasing;

  @media screen and (min-width: $breakpoint--md) {
    padding: ($spacing--md / 2) $spacing--md;
  }

  &:after { // slight adjustment required for pseudowShadow
    height: 3px;
  }

  &:before { // hidden overlay that appears on focus/hover
    @include size(100%);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: $layer--low;
    display: block;
    border-radius: $borderRadius;
    transition: background ($transitionDur * 2) $transitionEasing;
    background: rgba(0, 0, 0, 0);
  }

  &:focus {
    outline: none;
  }
}

.btn__txt {
  line-height: 1; // helps with vertical centering issues
  position: relative;
  margin: 0 auto; // seems unnecessary, but fixes issue with -webkit mobile browsers not rendering flex properties properly
  z-index: $layer--mid;
  text-shadow: 0 0.1rem 5px rgba(#000, 0.1);
}

.btn--primary {
  border: 2px solid $color--primaryDark;
  background: linear-gradient(0deg, $color--primaryDark, $color--primary);

  &:hover,
  &:focus {
    &:before {
      background: $color--primary;
    }
  }

  &:focus {
    border: 2px solid $color--primary;
  }
}

.btn--secondary {
  border: 2px solid $color--secondaryDark;
  background: linear-gradient(0deg, $color--secondaryDark, $color--secondary);

  &:hover,
  &:focus {
    &:before {
      background: $color--secondaryDark;
    }
  }

  &:focus {
    border: 2px solid $color--secondary;
  }
}


.btn--smallFull { // goes full width on smaller screen sizes
  @media screen and (max-width: $breakpoint--xs) {
    width: 100%;
  }
}

.btn__iconContainer {
  fill: $color--white;

  .icon {
    position: relative;
    z-index: $layer--mid;
    @include size($spacing--md);
    margin-right: $spacing--sm / 2;
  }
}
