//== Buttons ==//

.button {
  @include pseudoShadow();
  display: inline-block;
  padding: 1rem 2.25rem;
  font-size: 1.625rem;
  font-family: $fontStack--secondary;
  letter-spacing: 0.1rem;
  border-radius: $borderRadius;
  cursor: pointer;
}

  .button--primary {
    color: $color--white;
    text-shadow: 0 0.1rem 5px rgba(#000, 0.1);
    border: 0.1rem solid $color--secondaryDark;
    background: linear-gradient(0deg, $color--secondaryDark, $color--secondary);
  }
