//== Buttons ==//

.btn {
  @include pseudoShadow();
  height: 4rem;
  padding: 1rem 2.25rem;
  font-size: 1.625rem;
  font-family: $fontStack--secondary;
  letter-spacing: 0.1rem;
  border-radius: $borderRadius;
  cursor: pointer;
  color: $color--white;
}

.btn--primary {
  text-shadow: 0 0.1rem 5px rgba(#000, 0.1);
  border: 0.1rem solid $color--secondaryDark;
  background: linear-gradient(0deg, $color--secondaryDark, $color--secondary);
}

.btn--secondary {
  border: 0.1rem solid $color--primaryDark;
  background: linear-gradient(0deg, $color--primaryDark, $color--primary);
}
