//== Section Styles ==//

.sect {
  width: 100%;
  padding: $spacing--lg $spacing--md;
}

.sect--alt {
  color: $color--white;
  background:
    linear-gradient(
      rgba($color--primary, 0.9),
      rgba($color--primary, 0.9)
    ),
    url('/images/nc-mountains.webp');
  background-size: cover;
  position: relative;
  z-index: $layer--low;
}

.sect--angle {
  position: relative;
  z-index: $layer--bottom;
  padding-bottom: $spacing--lg; // a little extra breathing room so the angle doesn't cut off the content

  @media screen and (min-width: $breakpoint--sm) {
    clip-path: polygon(0 8%, 100% 0, 100% 92%, 0 100%);
  }
}
