//== Taglines ==//

.tagline {
  text-shadow: 0 0.2rem 3px rgba($color--primaryDark, 0.5);
}

.tagline--h1 {
  margin-bottom: $spacing--md;

  @media screen and (min-width: $breakpoint--md) {
    font-size: 6vw;
  }
}

.tagline--h2.tagline--h2 { // workaround to increase specificity slightly
  font-weight: 200;
  font-family: $fontStack--primary;
  margin-bottom: $spacing--lg;

  @media screen and (min-width: $breakpoint--sm) { // side-by-side lines on larger screen sizes
    display: flex;
    align-items: center;
    justify-content: center;

    &:before,
    &:after {
      content: '';
      margin: $spacing--sm;
      display: block;
      height: 1px;
      width: 100%;
      max-width: 60px;
      background: $color--white;
    }
  }

  @media screen and (min-width: $breakpoint--md) {
    font-size: 5vw;
  }
}
