//== Type Elements ==//

.paragraph--paddingCol {
  columns: 1;

  @media screen and (min-width: $breakpoint--sm) {
    columns: 2;
  }
}

//== Taglines

.tagline {
  text-shadow: 0 0.2rem 3px rgba($color--primaryDark, 0.5);
}

.tagline--h1 {
  margin-bottom: $spacing--md;
}

.tagline--h2.tagline--h2 { // workaround to increase specificity slightly
  font-weight: 200;
  font-family: $fontStack--primary;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: $spacing--lg;

  &:before,
  &:after {
    content: '';
    margin: $spacing--sm;
    display: block;
    height: 1px;
    width: 100%;
    max-width: 40px;
    background: $color--white;
  }
}
